<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form autocomplete="off" action="addnewcompany" method="POST">
		<div id="focus"></div>
		<h1 style="text-align: center;">Company Details Form</h1>
		<table style="margin-top: 50px">
			<tr>
				<td>Company Name</td>
				<td>: <input type="text" name="companyname" autocomplete="no"
					style="width: 203px; border-color: #badc58">
				</td>
				<td>Worker Type</td>
				<td>: <input type="text" name="workertype" autocomplete="no"
					style="width: 203px; border-color: #badc58">
				</td>
			<tr>
				<td>Contract Duration</td>
				<td>: <input type="text" name="contractduration"
					autocomplete="no" style="width: 203px; border-color: #badc58">
				</td>
				<td>Email</td>
				<td>: <input type="text" name="mail" autocomplete="no"
					style="width: 203px; border-color: #badc58">
				</td>
				<td>Phone</td>
				<td>: <input type="text" name="phone" autocomplete="no"
					style="width: 203px; border-color: #badc58">
				</td>
			</tr>
		</table>

		<input type="submit" value="Send Request"
			style="width: 70px; border-color: #badc58">
	</form>
</body>
</html>